html, body {
    height: 100%;
}

#mapa-nav{
	margin-bottom: 0;
	border-bottom: 0;
}

#map{
	margin-top: 0vh;
	Width: 100%;
	height: 75.5vh;	
}

.main-panel .card{
	margin-top: 11vh;
	margin-bottom: 0px;
}

#card-info{
	text-align: center;
}

#div-form-mapa form{
	padding-top: 4vh;
}
